{{outlet}}

{{#if isSolving}}
  {{test-view questions=test.questions}}

  <div class="container">
    <button {{action "calculateTest"}} class="btn btn-default pull-right">Zakończ test</button>

  <div class="row md">

  {{test-slider test=test}}

 </div>
 </div>

{{else}}
  <div class="container">
    Twój wynik to: {{points}} / {{test.questions.length}}
  </div>
{{/if}}

<script src="/clockdown-timer.js"></script>
