{{yield}}

<div class="row">
  <div class="form-group col-md-offset-1">
    <div class="question-item form-group col-md-10">
        <h4 class="question" for="text">Pytanie</h4>
      {{input type="text" class="form-control" placeholder="Treść pytania" value=question.text}}

      {{#each question.question_options_attributes as |option|}}
        <div class="form-check">
          {{input type="checkbox" class="form-check-input" checked=option.is_correct}}
          {{input type="text" class="form-control" placeholder="Odpowiedź" value=option.answer_text}}
          <button {{action "deleteOption" option}} class="delete btn btn-secondary">x</button>
        </div>
      {{/each}}
      <div class="actions mt-3">
      <button {{action "addOption"}} class="btn btn-secondary">Dodaj odpowiedź</button>
      <button {{action "deleteQuestion" question}} class="btn btn-danger">Usuń pytanie</button>
      </div>
    </div>
  </div>
</div>
